<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itis.android.lessondb">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Books-->
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.details.MainDetailsActivity"
            android:parentActivityName=".ui.main.MainActivity"/>
        <activity
            android:name=".ui.main.addnew.BookAddNewActivity"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!--Authors-->
        <activity
            android:name=".ui.author.AuthorActivity" />
        <activity
            android:name=".ui.author.addnew.AuthorAddNewActivity"
            android:parentActivityName=".ui.author.AuthorActivity"/>
        <activity
            android:name=".ui.author.details.AuthorDetailsActivity"
            android:parentActivityName=".ui.author.AuthorActivity"/>

        <!--Libraries-->
        <activity
            android:name=".ui.library.LibraryActivity" />
        <activity
            android:name=".ui.library.addnew.LibraryAddNewActivity"
            android:parentActivityName=".ui.library.LibraryActivity"/>
        <activity
            android:name=".ui.library.details.LibraryDetailsActivity"
            android:parentActivityName=".ui.library.LibraryActivity"/>
    </application>

</manifest>